/**
 * FF Typescript Foundation Library
 * Copyright 2019 Ralph Wiedemeier, Frame Factory GmbH
 *
 * License: MIT
 */

////////////////////////////////////////////////////////////////////////////////
// COLORS

//$color-background: #343434 !default;
//$color-background-dark: darken($color-background, 5%) !default;
//$color-background-darker: darken($color-background, 10%) !default;
//$color-background-light: lighten($color-background, 10%) !default;
//$color-background-lighter: lighten($color-background, 20%) !default;
//$color-background-hover: $color-background-lighter !default;
//
//$color-primary: #1f6699 !default; // blue
//$color-primary-light: lighten($color-primary, 8%) !default;
//$color-primary-dark: darken($color-primary, 8%) !default;
//
//$color-secondary: #E64A19 !default; // orange
//$color-secondary-light: lighten($color-secondary, 15%) !default;
//$color-secondary-dark: darken($color-secondary, 15%) !default;
//
//$color-text: #c8c8c8 !default;
//$color-text-disabled: #808080 !default;
//$color-icon: #a0a0a0 !default;
//$color-icon-disabled: #606060 !default;

////////////////////////////////////////////////////////////////////////////////

@import "./styles";

////////////////////////////////////////////////////////////////////////////////
// GLOBAL

body {
  @include font-ui-normal;
  font-size: 0.85rem;
  line-height: 1.35;
  background-color: $color-background;
  color: $color-text;
}
