@import "../../variables.scss";
@import "@ff/ui/styles/_styles.scss";

:host(corpus-navbar) {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  
  display: flex;
  align-items: baseline;
  justify-content: center;

  background-color: $color-background-dark;
  border-bottom: 3px solid $color-background-darker;
}

nav {
  max-width: var(--col-width);
  width:100%;
  height: var(--nav-height);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  .spacer{
    flex: 1 1 auto;
  }
  .divider, ::slotted(.divider){
    width: 1px;
    background-color: var(--color-dark);
  }
  .brand {
    display:flex;
    align-items: center;
  }
  .brand:hover {
    filter: brightness(1.2)
  }
  .navbar{
    display: flex;
    align-items: stretch;
    flex-basis: auto;
    justify-content: end;
    ::slotted(.ff-button.ff-control), ::slotted(.nav-link){
      height:100%;
      flex: 0 0 auto;
      box-sizing: border-box;
      background-color: transparent;
      font-size: 13px;
      color: $color-light;
    }
    ::slotted(.ff-button.ff-control){
      padding: 4px 10px !important;
    }
  }
}

:host(.nav-link){
  position: relative;
  flex-wrap: wrap;
  color: inherit;
  font-size: 13px;
  
  slot{
    padding: 5px;
    margin: 3px;
    white-space: nowrap;
  }

  > a {
    color: inherit;
    font-size: inherit;
    background-color: transparent;
    transition: background-color 0.2s ease 0s;
    svg { fill: currentColor; }

    &:hover, &:focus{
      color: white;
      background-color: $color-background-lighter;
    }
  
    &.selected {
      background-color: $color-primary;
      &:hover, &:focus {
        background-color: $color-primary-light;
      }
    }

    cursor: pointer;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 4px 10px;
    white-space:nowrap;
  }
}