<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{htmlWebpackPlugin.options.title}}</title>

        <link rel="shortcut icon" type="image/png" href="favicon.png"/>
        <link href="/fonts/fonts.css" rel="stylesheet">

        <style>
            body { background: #303030; }
        </style>
    </head>
    <body>
        {{{htmlWebpackPlugin.options.element}}}
    </body>
</html>