:root{
  --nav-height: 44px;
  --col-width: 1320px;
  --color-primary: #00517d;
  --color-secondary: #f96;
  --color-tertiary: #00a5e8;

  --color-dark: #103040;
  --color-medium: #00517d;
  --color-hover: #004164;
  --color-light: #c8c8c8;
}



*, ::before, ::after {
  box-sizing: border-box;
}

body{
  background: radial-gradient(circle, #103040 0, #0b0b0b 60%, #0b0b0b 100%);
  background-attachment: fixed;

  min-height: 100%;
  width: 100%;
  padding: var(--nav-height) 0 0 0;
  margin: 0;
  display: block;
  font-family: "Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
}

h1{
  font-family: "Impact", "Charcoal", "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans-serif";
}