@import "./variables.scss";

:root{
  --nav-height: 44px;
  --col-width: 1320px;
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-tertiary: #{$color-tertiary};

  --color-dark: #{$color-tertiary};
  --color-medium: #{$color-primary};
  --color-hover: #{$color-primary-dark};
  --color-light: #{$color-text};

  --color-danger: #{$color-danger};
}




*, ::before, ::after {
  box-sizing: border-box;
}

body{
  background: #071922;

  min-height: 100%;
  width: 100%;
  padding: var(--nav-height) 0 0 0;
  margin: 0;
  display: block;
  font-family: "Roboto", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", "sans-serif";
}

h1{
  font-family: "Charcoal", "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans-serif";
}