---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #002554;
$header-bg-color-secondary: #165c7d;

// Text
$section-headings-color: #165c7d;
$body-text-color: #606c71 !default;
$body-link-color: #165c7d !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";