<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{{thumb}}">
    <meta property="og:image:width" content="320">
    <meta property="og:image:height" content="320">

    <title>{{title}}</title>

    <link rel="shortcut icon" type="image/png" href="/images/logo-planete.png"/>

    <style>
      body { background: #303030; }
    </style>
    <link rel="stylesheet" href="/css/corpus.css">

  </head>
  <body>
    {{{ body }}}
  </body>
</html>